body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
  padding: 1rem;
}

/* Header */
header,
footer {
  background-color: #A4BE7B;
  padding: 1rem;
}

header {
  display: grid;
  grid-template-columns: 120px 50vw;
  font-family: 'Fira Code', monospace;
  font-size: .5rem;
  text-align: center;
  padding: 1rem;

}

/* Header Grid */
header img {
  grid-row: span 2;

}

header h1,
header h2 {
  grid-column: span 2;
  padding: .4rem;
  margin-left: 1rem;
}

.title {
  background-color: #5F8D4E;
  font-family: 'Fira Code', monospace;

}


header nav {
  grid-column: span 3;
}

header .date {
  grid-column: span 3;
  font-size: 1.1rem;
}

header,
footer {
  background-color: #A4BE7B;
  padding: 1rem;
}

/* HEADER: Today's date */
.date,
aside {
  margin: 0.5rem;
  border: 1px solid rgba(0, 0, 0, .5);
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, .1);
}



/* nav_button */
nav button {
  /* margin: .2rem 2vw; */
  background-color: #5F8D4E;
  border: none;
  font-size: 2rem;
  color: #E5D9B6;

}


/* nav */
nav ul {
  font-family: 'Fira Code', monospace;
  /* font-weight: 900; */
  list-style: none;
  font-size: 1rem;
  font-weight: bolder;
  display: block;
  margin: 2rem;
  padding: 2rem;
  text-align: center;
  background-color: #5F8D4E;
}

nav ul a {
  display: block;
  padding: .8rem;
  margin-bottom: 0;

  border-top: 1px solid rgba(0, 0, 0, .5)
}

nav ul {
  padding: .5rem;


}

.active {
  padding: 0;
  margin: 0;
  background-color: #E5D9B6;
}

nav ul a:link,
nav ul a:visited {
  color: black;
  text-decoration: none;
}

/* Nav Hover/ active click */
nav ul li a:hover,
nav ul li a:active {
  background-color: rgba(0, 0, 0, .1);
  padding-left: 1rem;
  padding-right: 1rem;
}

/* on / off */

nav ul {
  
  display: none;
}

nav ul.open {
  display: block;
}

/* Butotn icon */
#hamburgerBtn span:nth-child(1) {
  display: block;
}

#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

/* MAIN */

/* bb is to see grid containers */
.bb {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: rgb(95, 141, 78, .7);
  /* border-color: black; */
  border-width: 5px;
  border-color: black;
  border-style: solid;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
}

main {
padding: 1rem;
}
.maingrid {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  padding: 5rem;
  gap: .5rem;
  justify-content: space-evenly;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* WEATHER */
.weather {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: auto;
  padding: 1rem;
  background-color: rgb(95, 141, 78, .7);
  border-width: 5px;
  border-color: black;
  border-style: solid;
}

.sun {
  padding: .5rem;
}

.weather h2 {
  grid-column: span 1/3;
}

/* WELCOME TO Rapel */
.hero {
  display: flex;
  margin: 10px;
  position: relative;
  height: min-content;
  min-width: 375px;
  justify-content: space-evenly;
  align-content: stretch;
  background-color: #5F8D4E;
  border: 5px solid #000;
}
.float{
  float: left;
}
.welcome_pic {
  max-width: 475px;
  min-width: 200px;
  margin: 5px;
  display: flex;


}

/* pink picture */
.welcome_pic_pink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  object-fit: cover;
  /* max-width: 475px; */
}
.welcome_pic_pink  img {
  max-width: 90%;
  height: auto;
  object-fit: contain;
}

.social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: #5F8D4E;
}

.welcome {
  position: absolute;
  top: 1rem;
  right: 7rem;
  background-color: #A4BE7B;
  border: 1px solid #000;
  padding: .5rem;
  box-shadow: 0 0 30px #333;
  font-size: .65rem;
}

.join_c {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border: 1px solid #000;
  padding: .5rem;
  box-shadow: 0 0 30px #333;
  opacity: 0.9;
  font-size: .65rem;
}


/* spotlight */
.spotlight {
  display: flex;
  padding: .5rem;
  justify-content: space-between;

}

.spotlight-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.spotlight-link {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.spotlight-link:hover {
  background-color: #0062cc;
}


/* turned off main items in small */
.join {
  display: none;
}

.spot3 {
  display: none;
}

/* event */
.event{
  padding: 1rem;

}

/* footer */
footer div a {
  padding: .5rem;
}

footer div address,
footer div h4,
.creatorInfo {
  margin: .2rem;
  margin: 0px;
}

/* footer grid */
footer {
  text-align: center;
  display: grid;
  grid-template-rows: 120px 20vh 20vh;
}

footer img {
  margin: auto;
}

.creatorInfo {
  padding: .4rem;
  margin-left: 1rem;
  font-size: .6rem;
  background-color: #5F8D4E;
}


/* Class area to creat flow */
.title {
  padding: .8rem;
  background-color: #5F8D4E;
  font-family: 'Fira Code', monospace;

}

/* Discover */
.discover_grid{
  display: grid;
  grid-template-columns: 1fr;
}
.discover_picture img{ width: 300px; height: 300px; margin: .5rem;}

.discover_picture{
  display: flex;
  justify-content: center;


}

.discover_artical{
display: flex;
justify-content: center;
flex-direction: column;
}
.d_number_3 h2{
  margin-bottom: 1px;
}
.d_number_3 h4{
  margin: 1px;
  margin-top: 0px;
}

/*----------- join --------------*/

form fieldset{
  margin: 2rem 0;
  border: 3px solid #E5D9B6;
  border-radius: 40px;
  padding: .5rem 2%;
}
form legend{
  color:  rgb(95, 141, 78);
  margin: 0 1rem;
  padding: 0 .5rem;
}

form label.top, form div{
display: block;
padding-top: 1rem;
color: black;
font-size: .8rem;
border-radius: 4px;


}
form label.top input, form label.top select, form label.top textarea{
  display: block;
  font-size: 1rem;
  border: solid 1px grey;
  border-radius: 40px;
  padding: .75rem;
  color: #444;
  width: 80%;
  max-width: 20rem;
  background-color: rgba(95, 141, 78, .17);
}

form label.sbs {
  display: block;
  padding: .75rem 0;
  color: #444;
}

form input.submitBtn{
  border: none;
  background-color: #5F8D4E;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 90%;
  max-width: 20rem;
}

form label.top input:required{
  border-left: red solid 6px;
}

form label.top input:required:valid{
  border-left: green solid 6px;
  
}

/* site counter */
.visit_container {
  font-size: .8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem;
	border: 1px solid #E5D9B6;
	padding: .2rem;
	background-color: #5F8D4E;
}
.visit_container p {
  padding: .5rem
}


/* discover */

/* Card Styles */
.cards {
  padding: 1%;
  background-color: #E5D9B6;
  border: #5F8D4E solid 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  overflow: hidden;
}

.card-img-top{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

section.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.card-img-top {
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  margin: 10px;
  max-height: fit-content;
}

.card-body {
  padding: 10px 20px;
}

.card-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 15px;
}

.btn-primary {
  padding: .5rem 1rem;
  font-size: .8rem;
  color: #000;
  background-color: rgb(95, 141, 78, 0.8);
  border-color: rgb(95, 141, 78, 4);
}

.btn-primary:hover {
  background-color: rgb(0,0,0,.3);
  border-color: rgb(0,0,0);
}

/* Table Styles */
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  font-size: .5rem;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table th {
  font-weight: 700;
}
/* disable infromation in different size media queries. */
table tr td:nth-child(4), table tr th:nth-child(4), 
table tr td:nth-child(3), table tr th:nth-child(3),
table tr td:nth-child(2), table tr th:nth-child(2) 
{
  display: none;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}



/* -------------- CONTACT ----------------- */


.contact_map{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 10px solid #E5D9B6;
  background-color: #5F8D4E;
  border-radius: 40px;
  width: 75%;}

aside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 10px solid #E5D9B6;
  background-color: #5F8D4E;
  border-radius: 40px;
  width: 75%;
}
.contact_grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0px;
  max-width: 100%;
  transition: 0.3s;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
}