:root {
    --main-color: #C8102E; /* dark red */
    --secondary-color: #00529B; /* dark blue */
    --secondary-color-op: rgba(0, 82, 155, .7); /* dark blue opacity*/
    --accent-color: #FFFFFF; /* white */
    --background-color: #f8a8a8; /* light red */
  }
  body{
    padding: .05rem;
    font-family: sans-serif;
  }
  section{
    max-width: 65%;
    margin: 0 auto;
    color: var(--secondary-color);
  }