:root{
--primary-color: rgb(122, 168, 116);
--secondary-color: rgb(247, 219, 106);
--accent-second-color: rgb(235, 176, 45);
--pop-color:rgb(216, 100, 169);
--background: rgb(250, 241, 230);
--lighter-background: rgb(253, 250, 246);
--white: rgb(255, 255, 255);
}