

/* VAR list */

/* palette */
:root{
--primary-color: rgb(122, 168, 116);
--secondary-color: rgb(247, 219, 106);
--secondary-color-light: rgb(247, 219, 106, .5);
--accent-second-color: rgb(235, 176, 45);
--pop-color:rgb(216, 100, 169);
--pop-color-light:rgb(216, 100, 169, .5);
--background: rgb(250, 241, 230);
--lighter-background: rgb(253, 250, 246);
--white: rgb(255, 255, 255);
}

/* typography */
:root{
--font-family: 'Martian Mono', monospace;
--reg-font-size: 16px;
--large-font-size: 18px;
--reg-font-weight: 400;
--bold-font-weight: 700;
}

body{
  font-family: var(--font-family);
  font-size: var(--reg-font-size);
  font-weight: var(--reg-font-weight);
}

/* Header */
header {
    background-color: var(--primary-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: var(--bold-font-weight);
    font-size: 1.5rem;
    color: var(--pop-color);
  }
  header em {
    font-size: 1rem;
    font-weight: var(--reg-font-weight);
    color: var(--white);
  }

  header h1 {
    margin: 20px;
    padding: 0;
    background-color: var(--background);
  }
  
  header p{
    margin: 10px;
    padding: 0;
    font-size: var(--reg-font-size);
    background-color: var(--background);
  }

  header img {
    width: 175px;
    height: 100%;
    object-fit: contain;
    background-color: var(--background);
  }

  header h1 a {
    color: var(--white);
    text-decoration: none;
  }



/* nav_button */
nav button {
    margin: 1rem;
    padding: .6rem;
    background-color: var(--secondary-color);
    border: none;
    font-size: 2rem;
    color: var(--pop-color);
  
  }
  
  
  /* nav */
  nav ul {
    font-family: var(--font-family);
    font-weight: var(--bold-font-weight);
    list-style: none;
    font-size: 1rem;
    font-weight: bolder;
    display: block;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    background-color: var(--secondary-color);
  }
  
  nav ul a {
    display: block;
    padding: .8rem;
    margin-bottom: 0px;
    border-top: 0px;
  }
  
  nav ul {
    padding: .5rem;
  }
  
  .active {
    padding: 0;
    margin: 0;
    background-color: var(--pop-color);
  }
  
  nav ul a:link,
  nav ul a:visited {
    color: black;
    text-decoration: none;
  }
  
  /* Nav Hover/ active click */
  nav ul li a:hover,
  nav ul li a:active {
    background-color:var(--pop-color-light);
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: x-large;
  }
  
  /* on / off */
  
  nav ul {
    
    display: none;
  }
  
  nav ul.open {
    display: block;
  }
  
  /* Butotn icon */
  #hamburgerBtn span:nth-child(1) {
    display: block;
  }
  
  #hamburgerBtn span:nth-child(2) {
    display: none;
  }
  
  #hamburgerBtn.open span:nth-child(1) {
    display: none;
  }
  
  #hamburgerBtn.open span:nth-child(2) {
    display: block;
  }
  /* logos */
  section.social_media{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  section.social_media img {
    width: 48px;
    height: 100%;
    object-fit: contain;
    background-color: var(--background);
  }
  section.social_media :hover{
    background-color: var(--pop-color-light);
    width: 50px;
  }

/* main */
main {
    background-color: var(--lighter-background);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: var(--bold-font-weight);
    font-size: 1rem;
    color: var(--primary-color);
  }
  main h2, main h3{
    margin: 0;
    padding: 0;
    color: var(--pop-color);
    background-color: var(--background);
  }
  main h4{
    background-color: var(--secondary-color-light);
  }
  main p, main address {
    margin: .5rem;
    padding: .5rem;
    background-color: var(--lighter-background);
  }
  section:nth-child(1) p {
    color: black;
  }
  section:nth-child(1) h2{
    color: var(--primary-color)
  }










  /* footer */
  footer {
    background-color: var(--secondary-color);
    padding: 1rem;
    display: grid;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: var(--bold-font-weight);
    font-size: 1rem;
    color: var(--pop-color);
  }

  .logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
  }
  footer img {
    width: 100px;
    height: 100%;
    object-fit: contain;
    background-color: var(--background);
  }

  footer h2{
    margin: 0;
    padding: 0;
    background-color: var(--background);
  }
  footer p, footer address {
    margin: 0;
    padding: 0;
    background-color: var(--background);
  }

  footer p a {
    color: var(--white);
    text-decoration: none;
  }

  .footer_right a:hover, main section:nth-child(2) a:hover {
    background-color: var(--pop-color);
    font-size: larger;
  }

  footer p a:active, main section:nth-child(2) a:active {
    color: var(--accent-second-color);
  }

  footer section a:visited, main section:nth-child(2) a:visited {
    color: var(--white);
  }


  
  footer section a:link, main section:nth-child(2) a:link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-decoration: underline dotted;
    color: var(--white);
    background-color: var(--accent-second-color);
    padding: 6px;
    margin: 4px;
  }
