@media screen and (min-width: 560px) {

  This er*/ main section:nth-child(3) {
    grid-column: span 2;
  }

  main figure img:nth-child(1) {
    min-width: 350px;
  }

  main figure img {
    width: 100%;
    padding: .5em;
  }


}

/*end of media query